.main-footer {

    &__contacts {
        background: #222222 url('../../img/footer-bg.jpg') no-repeat center;

        @media($w-desktop) {
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #222222;
    }
}